.f4__form-content {
  display: grid;
  margin-bottom: 10px
}
.f4__form input {
   padding: 5px;
}
.f4__form input[type="submit"] {
  padding: 5px 10px;
}
.from__input-content {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}
.f4__response {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 12px;
  padding: 10px 0;
}
.f4__response__joined {
  border: 1px solid var(--border);
  padding: 10px;
  max-width: 700px;
  height: min-content;
}
.f4__response__joined-group, .f4__response__joined-input {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 800px) {
  .f4__form-content {
    grid-template-columns: 1fr 1fr;
  }
}