.f1 {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
  color: var(--color-text);
}
.f1__container {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  max-width: 300px;
}
.f1__container input {
  padding: 6px 8px;
}
.f1__input1-down {
  grid-column: 1 / 3;
}
@media screen and (max-width: 500px) {
  .f1 {
    grid-template-columns: min-content;
    justify-content: center;
  }
  .f1__result {
    padding-top: 10px;
  }
}
